/* whole site styling */
* {
    padding: 0;
    margin: 0;
    background-color: blue;
}

/* header and introductory styling */

.title {
    font-size:120px;
} 

h1 {
    font-family: fantasy;
    color: azure;
    font-style: oblique;
    padding: 25px;
}

.rules {
    font-family: fantasy;
    color: azure;
    font-style: oblique;
    color: rgb(209, 243, 140);
    padding:75px;
}

/* origins video styling */

.bigbangT p {
    padding:30px;
    padding-bottom: 250px;
    color: rgb(209, 243, 140);
    font-size: 45px;
}

.bigbangT a {
    padding:30px;
    color: rgb(209, 243, 140);
    font-size: 45px;
}

/* buttons styling */

.choose {
    padding: 175px 25px 175px 25px;
    text-align: center;
    font-size: 55px;

}
.choiceBtn {
    font-size: 55px;
    color: azure;
    width: 250px;
}

.BtnAll {
    padding: 5px;
}

/* text styling */

.gameText {
    color: rgb(209, 243, 140);
    padding:35px;
}

#stats {
    display: block;
    width: 50%;
    float: left;
}

/* photo final result styling */

#photoResult {
    display: block;
    width: 50%;
    float: right;
}

#photoResult img {
    padding: 45px;
    width: 500px;
    height: 500px;
    position: absolute;
    object-fit: fill;
}
/* showing score  */

#scoring{
    font-size: 45px;
    color: rgb(116, 149, 51);
    padding: 35px;
}

/*Css for music choice*/

.chooseM {
    padding: 25px;
    font-size: 50px;
    color: rgb(116, 149, 51);
    padding-bottom: 100px;
}

/* Media Queries */
/*for larger to medium size screens, from 1200 wide and down*/
@media screen and (max-width: 1200px) {
    .title {
        font-size: 100px;
    }
    .rules {
        font-size: 30px;
    }
    .bigbangT p {
        font-size: 30px;
    }
    .bigbangT a {
        font-size: 30px;
    }
    .choose {
        font-size: 30px;
    }
    .choiceBtn {
        font-size: 30px;
    }
    .gameText {
        font-size: 40px;
    }
    #scoring {
        font-size: 30px;
    }
    #photoResult img {
        width: 300px;
        height: 300px;
    }
    #stats h1{
        font-size: 40px;
    }

    /*Css for music choice player*/

.chooseM {
    padding: 25px;
    font-size: 50px;
    color: rgb(116, 149, 51);
    padding-bottom: 100px;
}
}

/* For medium size 950 px down*/
@media screen and (max-width: 950px) {
    .title {
        font-size: 80px;
    }
    .rules {
        font-size: 25px;
    }
    .bigbangT p {
        font-size: 25px;
    }
    .bigbangT a {
        font-size: 25px;
    }
    .choose {
        font-size: 25px;
    }
    .choiceBtn {
        font-size: 25px;
    }
    .gameText {
        font-size: 35px;
    }
    #scoring {
        font-size: 35px;
    }
    #photoResult img {
        width: 300px;
        height: 300px;
    }
    #stats h1{
        font-size: 35px;
    }
    .chooseM {
        padding: 25px;
        font-size: 50px;
        color: rgb(116, 149, 51);
        padding-bottom: 100px;
    }
    .BtnAll{
        padding-top: 5px;
    }
}
/* For low medium size 800px down*/
@media screen and (max-width: 800px) {
    .title {
        font-size: 60px;
    }
    .rules {
        font-size: 20px;
    }
    .bigbangT p {
        font-size: 20px;
    }
    .bigbangT a {
        font-size: 20px;
    }
    .choose {
        font-size: 20px;
    }
    .choiceBtn {
        font-size: 20px;
    }
    .gameText {
        font-size: 25px;
    }
    #scoring {
        font-size: 30px;
    }
    #photoResult img {
        width: 260px;
        height: 260px;
    }
    #stats > h1{
        font-size: 30px;
    }
    .chooseM {
        padding: 20px;
        font-size: 35px;
        color: rgb(116, 149, 51);
        padding-bottom: 100px;
    
    }
}
/* For small size 640 px down*/
@media screen and (max-width: 640px) {
    .title {
        font-size: 40px;
    }
    .rules {
        font-size: 15px;
    }
    .bigbangT p {
        font-size: 15px;
    }
    .bigbangT a {
        font-size: 15px;
    }
    .choose {
        font-size: 15px;
        padding-bottom: 30px;
        right: 30px;
    }
    .choiceBtn {
        font-size: 15px;
    }
    .gameText {
        font-size: 20px;
    }
    #scoring {
        font-size: 25px;
        padding:10px;
    }
    #photoResult img {
        width: 180px;
        height: 180px;
        padding:10px;
    }
    #stats > h1{
        font-size: 25px;
        padding-top: 7px;
    }
    .chooseM {
        padding: 18px;
        font-size: 30px;
        color: rgb(116, 149, 51);
        padding-bottom: 100px;
    }
}
/* For very small size 400px down*/
@media screen and (max-width: 400px) {
    .title {
        font-size: 30px;
    }
    .rules {
        font-size: 10px;
    }
    .bigbangT p {
        font-size: 10px;
    }
    .bigbangT a {
        font-size: 10px;
    }
    .choose {
        font-size: 10px;
        padding-bottom: 30px;
        right: 30px;
    }
    .choiceBtn {
        font-size: 10px;
    }
    .gameText {
        font-size: 15px;
    }
    #scoring {
        font-size: 20px;
    }
    #photoResult img {
        width: 125px;
        height: 125px;
    }
    #stats > h1{
        font-size: 20px;
    }
    .chooseM {
        padding: 15px;
        padding-bottom: 100px;
        font-size: 25px;
        color: rgb(116, 149, 51);
    }
}

/* For very small size 300px down*/
@media screen and (max-width: 300px) {
    .title {
        font-size: 20px;
    }
    .rules {
        font-size: 10px;
    }
    .bigbangT {
        font-size: 4px;
    }
    .choose {
        font-size: 10px;
        padding-bottom: 30px;
        right: 30px;
    }
    .choiceBtn {
        font-size: 10px;
    }
    .gameText {
        font-size: 10px;
    }
    #scoring {
        font-size: 20px;
    }
    #photoResult img {
        width: 125px;
        height: 125px;
    }
    #stats > h1{
        font-size: 15px;
    }
    .chooseM {
        padding: 12px;
        padding-bottom: 100px;
        font-size: 22px;
        color: rgb(116, 149, 51);
    }
}
